<div class="card-form">
    <nz-card [nzBordered]="false" nzTitle="{{cardTitle | uppercase}}" [nzExtra]="extraTemplate" [nzActions]="[actionAdd]">
        <form nz-form [formGroup]="form" [nzLayout]="'vertical'" style="margin-left: 20px;">
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="model">Cooler Model</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="model" id="model" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="assetNumber">Asset Number</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="assetNumber" id="assetNumber" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="coolerSize">Cooler Size</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="coolerSize" id="coolerSize" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="serialNumber">Serial Number</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="serialNumber" id="serialNumber" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="status">Status</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="status" id="status" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="remarks">Remarks</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="remarks" id="remarks" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card> 
    <ng-template #extraTemplate>
        <button mat-mini-fab aria-label="close dialog" title="close dialog" class="atma-danger" (click)="close()"><mat-icon>close</mat-icon></button>
    </ng-template>
    <ng-template #actionAdd>
        <button *ngIf="editData; else create" style="text-align: center;" nz-button  nzType="primary" [disabled]="!form.valid" (click)="editCooler()">Update Cooler</button>
        <ng-template #create>
            <button style="text-align: center;" nz-button nzType="primary" [nzLoading]="loading" [disabled]="!form.valid" (click)="addNewCooler()">Create Cooler</button>
        </ng-template>
    </ng-template>
</div>

