<span class="fa fa-spinner spinner" *ngIf="data_loaded"></span>
<div class="container">
    <mat-card style="width: 100%;height: fit-content;margin-top: 20px;">
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <!-- Search Filter -->
      <div class="row filter-row" style="margin-bottom: 20px;">
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
          <div class="form-group form-focus">
            <form class="mat-form">
              <mat-form-field class="form-field" appearance="fill">
                <mat-label><i class="fa fa-arrowdown">&nbsp;Show/Hide Columns</i></mat-label>
                <mat-select [formGroup]="" multiple>
                  <mat-option (click)="show_hide_details()" *ngFor="let cd of columnDefinitions">{{cd.label}}</mat-option>
                  <!-- <mat-option (change)="onChange($event, 'index')" *ngFor="let cd of columnDefinitions">{{cd.label}}</mat-option> -->
                </mat-select>
              </mat-form-field>
            </form>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
          <div class="form-group form-focus">
            <form class="mat-form">
              <mat-form-field class="form-field" appearance="fill">
                <mat-label><i class="fa fa-search">&nbsp;Quick Search</i></mat-label>
                <input matInput type="text" search (keyup)="applyFilter($event)" #input>
              </mat-form-field>
            </form>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
    
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
            <div class="col-auto float-end ms-auto">
              <!-- Button trigger modal -->
              <button (click)="triggerModal('')" type="button" class="btn btn-primary" style="margin-left: 5rem;margin-bottom: 20px;border-color: #007bff;">
                <i class="fa fa-plus"></i> Add User
              </button>
            </div>
        </div>
      </div>
      <!-- /Search Filter -->

            <div fxLayout="row" fxLayoutAlign="space-between">
                <h3 _ngcontent-c48="" class="title-table"><b _ngcontent-c48="">
                    <mat-icon _ngcontent-c48="" class="mat-icon fa fa-users" role="img" aria-hidden="true" style="padding-right: 1.5em;"></mat-icon>&nbsp;Registered Users List</b>
                </h3>
                <div style="margin-right: 20px">
                    <button nz-button nzType="primary" [matMenuTriggerFor]="menu" ><mat-icon> import_export</mat-icon>&nbsp;Export Data</button>
                    <mat-menu #menu="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item (click)="exportXLSX()" title="Export users to XLSX" aria-describedby="Export users to XLSX"><mat-icon>file_copy</mat-icon>
                          XLSX
                        </button>
                        <button mat-menu-item (click)=exportUsersPDF() title="Export users to PDF" aria-describedby="Export users to pdf">
                            <mat-icon>picture_as_pdf</mat-icon>
                            PDF
                        </button>
                    </mat-menu>
                </div>
            </div>
            <table mat-table matSort [dataSource]="dataSource" matTableExporter
            #exporter="matTableExporter">
                <!-- Position Column -->
                <ng-container matColumnDef="Position">
                    <th class="position-column" mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.ID}}
                    </td>
                </ng-container>
                <!-- ID Column -->
                <ng-container matColumnDef="ID">
                  <th class="id-column" mat-header-cell *matHeaderCellDef mat-sort-header 
                  [ngStyle]="{display: showHideDetails === true?  'table-cell' : 'none'}"> ID </th>
                  <td mat-cell *matCellDef="let element" style="padding-left: 10px;"
                  [ngStyle]="{display: showHideDetails === true?  'table-cell' : 'none'}">
                    {{element.id}}
                  </td>
                </ng-container>
                <!-- Full Name Column -->
                <ng-container matColumnDef="FULL_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FULL NAME </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
                      {{element.firstName | titlecase}} {{element.middleName | titlecase}}
                    </td>
                </ng-container>
                <!-- Email Column -->
                <ng-container matColumnDef="EMAIL">
                    <th class="email-column" mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
                      <code>{{element.email | lowercase}}</code>
                    </td>
                </ng-container>
                <!-- Phone Number Column -->
                <ng-container matColumnDef="PHONE_NUMBER">
                    <th class="number-column" mat-header-cell *matHeaderCellDef mat-sort-header> PHONE NUMBER </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 10px;">
                      {{element.mobileNumber}}
                    </td>
                </ng-container>
                <!-- Status Column -->
                <ng-container matColumnDef="STATUS">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center">
                    <app-blocked-status [labelValue]="element.locked"></app-blocked-status>
                  </td>
              </ng-container>
                <!-- BLOCKED Column -->
                <ng-container matColumnDef="BLOCKED">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> BLOCKED </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center">
                        <app-blocked-label [labelValue]="element.firstLogin"></app-blocked-label>
                    </td>
                </ng-container>
                <!-- Pending-Action Column -->
                <ng-container matColumnDef="PENDING_ACTION">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PENDING ACTION </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <app-edit-notification-label [labelValue]="element.beingEdited">{{element.beingEdited}}</app-edit-notification-label>
                    </td>
                </ng-container>
                <!-- Created By Column -->
                <ng-container matColumnDef="CREATED_BY">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header
                  [ngStyle]="{display: showHideDetails === true?  'table-cell' : 'none'}"> CREATED BY </th>
                  <td mat-cell *matCellDef="let element"
                  [ngStyle]="{display: showHideDetails === true?  'table-cell' : 'none'}">
                  <code>{{element.createdBy}}</code>
                  </td>
              </ng-container>
              <!-- Created On Column -->
              <ng-container matColumnDef="CREATED_ON">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                [ngStyle]="{display: showHideDetails === true?  'table-cell' : 'none'}"> CREATED ON </th>
                <td mat-cell *matCellDef="let element"
                [ngStyle]="{display: showHideDetails === true?  'table-cell' : 'none'}">
                <code class="atma-failed">{{element.createdOn}}</code>
                </td>
            </ng-container>
                <!-- Actions Column -->
                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:20px"> ACTIONS </th>
                    <td mat-cell *matCellDef="let element" style="margin-left: 8px;">
                      <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomCenter" nzSize="small"   
                        nzType="primary" nzGhost >
                        <i class="fa fa-cog mr-1"></i> Actions
                      </button>
                      <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                          <li nz-menu-item>
                            <span (click)="view(data)" title="View User Details" aria-describedby="View User Details">
                              <mat-icon>remove_red_eye</mat-icon>View
                          </span>
                          </li>
                          <li nz-menu-item>
                            <span (click)="edit(data)" title="Edit User" aria-describedby="Edit User">
                              <mat-icon>edit</mat-icon>Edit
                          </span>
                          <ng-template #pendingEdit>
                              <span (click)="edit(data)" title="Edit User" aria-describedby="Edit User" disabled>
                                  <mat-icon>edit</mat-icon>Edit
                              </span>
                          </ng-template>
                          </li>
                          <!-- <li nz-menu-item>
                            <span (click)="delete()" style="color: red;" title="Delete User" aria-describedby="Delete User" disabled>
                                <mat-icon>delete</mat-icon>Delete
                            </span>
                          </li> -->
                          <li nz-menu-item>
                            <span title="Assign User to Profile" aria-describedby="Assign User to Profile" (click)="assignProfile(data)">
                              <mat-icon>assignment_ind</mat-icon>
                              Assign
                          </span>
                          <ng-template #assignPend>
                              <span  title="Assign User to Profile" aria-describedby="Assign User to Profile" (click)="assignProfile(data)" disabled>
                                  <mat-icon>assignment_ind</mat-icon>
                                  Assign
                              </span>
                          </ng-template>
                          </li>
                        </ul>
                      </nz-dropdown-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator
                style="font-size: 15px;font-family: 'Nunito', sans-serif;"
                [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons>
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>