<thead>
    <tr>
        <th *ngIf="mandatoryColumns.includes('ID')">ID</th>
        <th *ngIf="mandatoryColumns.includes('ESB Reference ID')">ESB Reference ID</th>
        <th *ngIf="mandatoryColumns.includes('Service Name')">Service Name</th>
        <th *ngIf="mandatoryColumns.includes('Channel Name')">Channel Name</th>
        <th *ngIf="mandatoryColumns.includes('Channel Code')">Channel Code</th>
        <th *ngIf="mandatoryColumns.includes('Channel Reference ID')">Channel Reference ID</th>
        <th *ngIf="mandatoryColumns.includes('Project Code')">Project Code</th>
        <th *ngIf="mandatoryColumns.includes('Transaction Amount')">Transaction Amount</th>
        <th *ngIf="mandatoryColumns.includes('Transaction Charge')">Transaction Charge</th>
        <th *ngIf="mandatoryColumns.includes('Primary Account Number')">Primary Account Number</th>
        <th *ngIf="mandatoryColumns.includes('Debit Account')">Debit Account</th>
        <th *ngIf="mandatoryColumns.includes('Credit Account')">Credit Account</th>
        <th *ngIf="mandatoryColumns.includes('Processing Code')">Processing Code</th>
        <th *ngIf="mandatoryColumns.includes('Client Name')">Client Name</th>
        <th *ngIf="mandatoryColumns.includes('Client Number')">Client Number</th>
        <th *ngIf="mandatoryColumns.includes('Bank Branch')">Bank Branch</th>
        <th *ngIf="mandatoryColumns.includes('Bank Short Code')">Bank Short Code</th>
        <th *ngIf="mandatoryColumns.includes('Student Payment Code')">Student Payment Code</th>
        <th *ngIf="mandatoryColumns.includes('School Name')">School Name</th>
        <th *ngIf="mandatoryColumns.includes('Paid By')">Paid By</th>
        <th *ngIf="mandatoryColumns.includes('Paid By Phone Number')">Paid By Phone Number</th>
        <th *ngIf="mandatoryColumns.includes('First Name')">First Name</th>
        <th *ngIf="mandatoryColumns.includes('Middle Name')">Middle Name</th>
        <th *ngIf="mandatoryColumns.includes('ATD No.')">ATD No.</th>
        <th *ngIf="mandatoryColumns.includes('Narration')">Narration</th>
        <th *ngIf="mandatoryColumns.includes('Currency')">Currency</th>
        <th *ngIf="mandatoryColumns.includes('Biller Reference Number')">Biller Reference Number</th>
        <th *ngIf="mandatoryColumns.includes('Third Party Reference ID')">Third Party Reference ID</th>
        <th *ngIf="mandatoryColumns.includes('Receiver Reference ID')">Receiver Reference ID</th>
        <th *ngIf="mandatoryColumns.includes('Transaction Status')">Transaction Status</th>
        <th *ngIf="mandatoryColumns.includes('CreatedOn')">CreatedOn</th>
        <th nzRight>Actions</th>
    </tr>
</thead>
