<form action="" [formGroup]="form" >
    <h1 class="titleCreate">Reset Password?</h1>
    <hr>
    <br>
    <div class="form-group">
        <label for="">Remarks</label>
        <textarea rows="3" type="text" class="form-control" formControlName="Remarks" [ngClass]="{'is-invalid': form.get('Remarks').touched && form.get('Remarks').errors?.required}"></textarea>
    </div>
    <small *ngIf="form.get('Remarks').errors?.required" class="invalid-feedback">
        This field is required
    </small>
    <button type="button" class="btn btn-alt btn-sm" (click)="close()">Cancel</button>
    <button type="submit" class="btn btn-action btn-sm pull-right" [disabled]="form.invalid" (click)="sendReset()">Reset</button>
    
</form>
