<div class="card-form">
    <nz-card [nzBordered]="false" nzTitle="{{cardTitle | uppercase}}" [nzExtra]="extraTemplate" [nzActions]="[actionAdd]">
        <form nz-form [formGroup]="form" [nzLayout]="'vertical'" style="margin-left: 20px;">
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="model">Code</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="model" id="model" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="model">Name</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="model" id="model" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="model">Email</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="model" id="model" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="model">Postal Address</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="model" id="model" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="model">Contact Name</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="model" id="model" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="model">Contact Mobile Number</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="model" id="model" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="model">Regional Code</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="model" id="model" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="model">Territory Code</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="model" id="model" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="model">Remarks</nz-form-label>
                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="This field is required">
                    <input nz-input formControlName="model" id="model" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card> 
    <ng-template #extraTemplate>
        <button mat-mini-fab aria-label="close dialog" title="close dialog" class="atma-danger" (click)="close()"><mat-icon>close</mat-icon></button>
    </ng-template>
    <ng-template #actionAdd>
        <button *ngIf="editData; else create" style="text-align: center;" nz-button  nzType="primary" [disabled]="!form.valid" (click)="editDistributor()">Update Distributor</button>
        <ng-template #create>
            <button style="text-align: center;" nz-button nzType="primary" [nzLoading]="loading" [disabled]="!form.valid" (click)="addNewDistributor()">Create Distributor</button>
        </ng-template>
    </ng-template>
</div>

