<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="35px">
    <div fxFlex.gt-sm="50%">
        <nz-card [nzActions]=" ">
            <div fxLayout="row">
                <div fxFlex.gt-sm="100.00%">
                    <h3 class="atma-text"><b>ORDER DETAILS</b></h3>
                    <hr>
                </div>
            </div>
            <div fxLayout="row" class="mb-2">
                <div fxFlex.gt-sm="50.00%">
                    <p class="atma-text"><b>Credit Code: </b></p>
                </div>
                <div fxFlex.gt-sm="50.00%">
                    <p class="descText">&nbsp;&nbsp;</p>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex.gt-sm="50.00%">
                    <p class="atma-text"><b>Credit Name:</b></p>
                </div>
                <div fxFlex.gt-sm="50.00%">
                    <p class="descText" style="word-wrap: break-word;"></p>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex.gt-sm="50.00%">
                    <p class="atma-text"><b>Product Code: </b></p>
                </div>
                <div fxFlex.gt-sm="50.00%">
                    <p class="descText"></p>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex.gt-sm="50.00%">
                    <p class="atma-text"><b>Product Description: </b></p>
                </div>
                <div fxFlex.gt-sm="50.00%">
                    <p class="descText"></p>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex.gt-sm="50.00%">
                    <p class="atma-text"><b>Order Reference: </b></p>
                </div>
                <div fxFlex.gt-sm="50.00%">
                    <p class="descText"></p>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex.gt-sm="50.00%">
                    <p class="atma-text"><b>Order Quantity: </b></p>
                </div>
                <div fxFlex.gt-sm="50.00%">
                    <p class="descText"></p>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex.gt-sm="50.00%">
                    <p class="atma-text"><b>Order Value: </b></p>
                </div>
                <div fxFlex.gt-sm="50.00%">
                    <p class="descText"></p>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex.gt-sm="50.00%">
                    <p class="atma-text"><b>Payment Mode: </b></p>
                </div>
                <div fxFlex.gt-sm="50.00%">
                    <p class="descText"></p>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex.gt-sm="50.00%">
                    <p class="atma-text"><b>Payment Proof: </b></p>
                </div>
                <div fxFlex.gt-sm="50.00%">
                    <p class="descText"></p>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex.gt-sm="50.00%">
                    <p class="atma-text"><b>Status: </b></p>
                </div>
                <div fxFlex.gt-sm="50.00%">
                    <p class="descText"></p>
                </div>
            </div>
        </nz-card>
    </div>
    <div fxFlex.gt-sm="50%">
        <mat-tab-group>
            <mat-tab label="Audit Trail" aria-label="Audit Trail">
                <!-- <app-user-audit-trail [user]="user"></app-user-audit-trail> -->
            </mat-tab>
            <mat-tab label="User Profiles" aria-label="User Profiles">
                <!-- <app-user-profiles [user]="user"></app-user-profiles> -->
            </mat-tab>
        </mat-tab-group>
    </div>
</div>