<span class="fa fa-spinner spinner" *ngIf="data_loaded"></span>
<div class="basic-container global" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="20px" class="p-2">
        <div>
            <button nz-button nz-dropdown title="Select columns to Display"
                aria-describedby="Select Columns to Display">
                <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="columnToggleMenu">
                    Select Columns to Display
                    <i nz-icon nzType="down"></i>
                </a>
            </button> &nbsp;
            <nz-dropdown-menu #columnToggleMenu="nzDropdownMenu" nzSize="large">
                <ul nz-menu>
                    <nz-checkbox-wrapper class="check-group" (nzOnChange)="selectedColumns($event)">
                        <div nz-column nzJustify="start">
                            <div *ngFor="let colm of displayColumns" class="pl-1">
                                <div *ngIf="mandatoryColumns.includes(colm); else nonchecked">
                                    <label for="" nz-checkbox nzValue="{{colm}}" class="wrapper-label" [ngModel]="true"
                                        nzSize="small">{{colm }}</label>
                                </div>
                                <ng-template #nonchecked>
                                    <label for="" nz-checkbox nzValue="{{colm}}" class="wrapper-label" [ngModel]="false"
                                        nzSize="small">{{colm}}</label>
                                </ng-template>
                            </div>
                        </div>
                    </nz-checkbox-wrapper>
                    <div class="btn-nz"></div>
                </ul>
            </nz-dropdown-menu>
        </div>
        <div>
            <input type="text" class="form-control form-control-md" style="width: 230px;" [(ngModel)]="searchInput"
                (ngModelChange)="globalSearch()" placeholder="quick search">
        </div>
    </div>

</div>

<div class="basic-container">
    <nz-card [nzBordered]="false" nzTitle="All Profiles" nzSize="large" [nzExtra]="extraTemplate">
        <nz-table #nzTable [nzBordered]="true" [nzData]="listOfDisplayData" nzSize="small" nzTableLayout="fixed"
            class="px-1" [nzLoading]="loading" [nzFrontPagination]="false" nzShowSizeChanger [nzTotal]="total"
            [nzPageSize]="perPage" [nzPageIndex]="page" (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
                <tr>

                    <th nzCustomFilter *ngIf="mandatoryColumns.includes('Profile Name')" nz-dropdown
                        [nzDropdownMenu]="profileName">
                        Profile Name

                    </th>
                    <th *ngIf="mandatoryColumns.includes('Description')" nz-dropdown [nzDropdownMenu]="description">
                        Description</th>
                    <th *ngIf="mandatoryColumns.includes('Status')" nz-dropdown [nzDropdownMenu]="status">Status</th>

                    <th nzRight>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of nzTable.data">
                    <td *ngIf="mandatoryColumns.includes('Profile Name')">{{data.ProfileName}}</td>
                    <td *ngIf="mandatoryColumns.includes('Description')">{{data.Remarks}}</td>
                    <td *ngIf="mandatoryColumns.includes('Status')" class="pl-2">
                        <app-label-active [value]="data.IsVisible"></app-label-active>
                    </td>

                    <td nzRight class="pl-2">
                        <button nz-button nzType="primary" nzSize="small" title="Edit Profile" nzSuccess nzGhost
                            aria-describedby="Edit Profile" (click)="editProfileDetails(data)">
                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                        </button>&nbsp;
                        <button nz-button nzType="primary" nzSize="small" title="View Profile" nzSuccess nzGhost
                            aria-describedby="View Profile" (click)="viewProfile(data)">
                            <i nz-icon nzType="eye" nzTheme="outline"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
</div>
<ng-template #extraTemplate>

    <span *ngIf="total > 0 && listOfData > perPage">showing <span class="total">{{perPage}}</span> of <span
            class="total">{{total}}</span>items</span>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-action pull-right" (click)="openDialog('create', '$event')">
        <span class="fa fa-plus"></span>&nbsp; Add Profile</button>
    <button [matMenuTriggerFor]="export" class="pull-right mr-2 btn btn-action">
        <i class="fas fa-file-export"></i>
        Export Data
        <br>
    </button>
    <mat-menu #export="matMenu" x-position="before" [overlapTrigger]="false">

        <button mat-menu-item title="Export profiles to XLSX" (click)="exportProfilesXLSX()"
            aria-describedby="Export profiles to XLSX">
            <mat-icon class="text-success">file_copy</mat-icon>XLSX
        </button>
        <button mat-menu-item title="Export profiles to pdf" (click)="exportProfilesPDF()"
            aria-describedby="Export profiles to pdf">
            <mat-icon>picture_as_pdf</mat-icon>
            PDF
        </button>

    </mat-menu>

</ng-template>

<nz-dropdown-menu #profileName="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="search profile name" [(ngModel)]="searchProfile"
                (ngModelChange)="profileSearch()">
        </div>
    </div>
</nz-dropdown-menu>
<nz-dropdown-menu #description="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="search description" [(ngModel)]="searchDescription"
                (ngModelChange)="descriptionSearch()">
        </div>
    </div>
</nz-dropdown-menu>
<nz-dropdown-menu #status="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="form-check form-check-inline">
            <input type="checkbox" id="active" class="form-check-input" [(ngModel)]="searchStatus"
                (ngModelChange)="statusSearch()">
            <label for="active">Active</label>
        </div>
        <br>
        <div class="form-check form-check-inline">
            <input type="checkbox" id="all" class="form-check-input" [(ngModel)]="allStatus"
                (ngModelChange)="removeStatusFilter()">
            <label for="all">All</label>
        </div>
    </div>
</nz-dropdown-menu>