<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" style="margin-bottom: 20px;">
    <div fxLayout="row" fxLayout.sm="row" [style.margin-top.px]=20 [style.margin-bottom.px]=20>
      <div fxFlex="20">
        <div class="portal-widget">
          <mat-card fxLayout="column" fxLayoutAlign="center center" style="background-color: #FF4500; margin-left: 10px;">
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" [style.margin-top.px]=-20 [style.margin-bottom.px]=-20 [style.margin-left.px]=-10 style="color: white;">
            <h5 class="mat-caption portal-mini-caption portal-widget__no-margin" il8n>
              <i class="fa fa-money fa-lg"></i> Total Sales Value</h5>
            <span class="mat-display-1 portal-font-weight-light portal-commerce-count portal-widget__no-margin"><h5>{{totalSales}}</h5></span>
          </mat-card-content>
        </mat-card>
        </div>
      </div>
      <div fxFlex="20">
        <div class="portal-widget">
          <mat-card fxLayout="column" fxLayoutAlign="center center" style="background-color: #0d98ba; margin-left: 10px;">
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" [style.margin-top.px]=-20 [style.margin-bottom.px]=-20 [style.margin-left.px]=-10 style="color: white;">
            <h5 class="mat-caption portal-mini-caption portal-widget__no-margin" il8n>
              <i class="fa fa-shopping-cart fa-lg"></i> Total Sales Count</h5>
            <span class="mat-display-1 portal-font-weight-light portal-commerce-count portal-widget__no-margin"><h5>{{totalSalesCount}}</h5></span>
          </mat-card-content>
        </mat-card>
        </div>
      </div>
      <div fxFlex="20">
        <div class="portal-widget">
          <mat-card fxLayout="column" fxLayoutAlign="center center" style="background-color: #00b287; margin-left: 10px;">
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" [style.margin-top.px]=-20 [style.margin-bottom.px]=-20 [style.margin-left.px]=-10 style="color: white;">
            <h5 class="mat-caption portal-mini-caption portal-widget__no-margin" il8n>
              <i class="fa fa-money fa-lg"></i> Pay Now Sales Value</h5>
            <span class="mat-display-1 portal-font-weight-light portal-commerce-count portal-widget__no-margin"><h5>{{nowTotal}}</h5></span>
          </mat-card-content>
        </mat-card>
        </div>
      </div>
      <div fxFlex="20">
        <div class="portal-widget">
          <mat-card fxLayout="column" fxLayoutAlign="center center" style="background-color: #fea400; margin-left: 10px;">
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" [style.margin-top.px]=-20 [style.margin-bottom.px]=-20 [style.margin-left.px]=-10 style="color: white;">
            <h5 class="mat-caption portal-mini-caption portal-widget__no-margin" il8n>
              <i class="fa fa-money fa-lg"></i> Credit Sales Value</h5>
            <span class="mat-display-1 portal-font-weight-light portal-commerce-count portal-widget__no-margin"><h5>{{laterTotal}}</h5></span>
          </mat-card-content>
        </mat-card>
        </div>
      </div>
      <div fxFlex="20">
        <div class="portal-widget">
          <mat-card fxLayout="column" fxLayoutAlign="center center" style="background-color: #b27300; margin-left: 10px;">
          <mat-card-content fxLayout="column" fxLayoutAlign="center center" [style.margin-top.px]=-20 [style.margin-bottom.px]=-20 [style.margin-left.px]=-10 style="color: white;">
            <h5 class="mat-caption portal-mini-caption portal-widget__no-margin" il8n>
              <i class="fa fa-money fa-lg"></i> Credit Default Value</h5>
            <span class="mat-display-1 portal-font-weight-light portal-commerce-count portal-widget__no-margin"><h5>800</h5></span>
          </mat-card-content>
        </mat-card>
        </div>
      </div>
    </div>
    <!-- <div>
      <canvas id="b" height="750" width="650"></canvas>
    </div> -->
    <mat-card fxLayout="row" fxLayoutAlign="center stretch" style="height: 700px;">
      
      <mat-card-content>
        <h3 style="text-align: center;">Cumulative Sales Trend</h3>
        <mat-card-header>
          <div style="float: right;">
            <mat-form-field>
              <mat-select #matRef il8n placeholder="Select Sales Period" [(ngModel)]="period" name="period" (selectionChange)="chartDatedSales($event)">
                <mat-option *ngFor="let period of salesPeriods" [value]="period">{{period}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-header>
        <div *ngIf="!showDaily; else dailySales">
          <canvas id="salesCanvas" height="400" width="700"></canvas>
        </div>
        <ng-template #dailySales>
          <div>
            <canvas id="dailyCanvas" height="400" width="700"></canvas>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
    <mat-card fxLayout="row" fxLayout.sm="column">
      <div fxFlex="33" style="margin-right: 5px; margin-bottom: 40px;">
        <mat-card>
          <mat-card-content>
            <h3 style="text-align: center">Suppliers' Sales Trend</h3>
            <div >
              <canvas id="b" height="300" width="400"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33" style="margin-right: 5px;">
        <mat-card>
          <mat-card-content>
            <h3 style="text-align: center;">Sales Orders by Regions</h3>
            <div>
              <canvas id="regionCanvas" height="300" width="400"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33" style="margin-right: 5px;">
        <mat-card>
          <mat-card-content>
            <h3 style="text-align: center;">Sales Orders by Suppliers</h3>
            <div>
              <canvas id="sordersCanvas" height="300" width="400"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      
    </mat-card>
  </div>
  <div fxLayout="row" fxLayout.sm="column">
    <div fxFlex="33" style="margin-right: 5px; margin-bottom: 40px">
      <mat-card>
        <mat-card-content>
          <h3 style="text-align: center;">Sales Orders by Payment Method</h3>
          <div>
            <canvas id="paymentCanvas" height="300" width="400"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="33" style="margin-right: 5px;">
      <mat-card>
        <mat-card-content>
          <h3 style="text-align: center;">Online Sales</h3>
          <div>
            <canvas id="oordersCanvas" height="300" width="400"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="33" style="margin-right: 5px;">
      <mat-card>
        <mat-card-content>
          <h3 style="text-align: center;">Sales Orders by Purchase Mode</h3>
          <div>
            <canvas id="modeCanvas" height="300" width="400"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" fxLayout.sm="column">
    <div fxFlex="50" style="margin-bottom: 20px; margin-right: 5px;">
      <mat-card>
        <mat-card-content>
          <h3 style="text-align: center;">Sales Orders by Approval Status</h3>
          <div>
            <canvas id="statusCanvas" height="300" width="400"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    
    
  </div>
  